body {
    overflow-y: scroll;
    overflow-x: hidden;
}

#citat {
    display: none;
}

header {
    margin-left: 0px;
    margin-top: 10px;
}
#logo {
    margin-top: 20px;
    margin-left: 20px;
}
#top {
    height: 50px;
    overflow-y: scroll;
    text-align: center;
    margin-right: 15px;
}
.c {
    margin-left: -15px;
    height: auto;
    padding: 5px;
    margin-bottom: 100px;
}
h2 {
    text-align: center;
}
#rezultat {
    width: 90px;
}
#m8 {
    display: none;
}
#probleme {
    text-align: left;
}
.exemplu {
    opacity: 0;
    margin-left: -15px;
}

#glasses {
    margin-top: 0px;
}

.limita-img {
    height: 60px;
    transition: all 1s;
}
    .limita-img:hover {
        height: 75px;
    }

#menu {
    padding: 10px;
    height: 200px;
    width: 100%;
    overflow: auto;
    background: linear-gradient(#c6e3fb, #83b1d8);
}

#vecinatati {
    width: 200px;
    margin-bottom: 30px;
}
.smaller {
    width: 200px;
}

.user {
    display: none;
}

#capitol {
    margin-top: 50px;
}